.container {
    display: block;
}

.h1 {
    text-align: center;
    align-items: center;
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;
    color: var(--branco);

}

.containerHeader {
    min-height: calc(100vh - 150rem);
    margin: 0 auto;
    max-width: 1120px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.ctaText {
    max-width: 600px;
    min-height: calc(100vh - 150rem);
    margin: 0 auto;
    max-width: 1120px;
    margin-top: 5%;
    text-align: center;
    display: center;
    font-size: 1rem;
    line-height: 2.25rem;
    color: var(--branco);

}


@media (max-width: 1095px) {
    .container {
        .containerHeader {
            padding: 0 2rem;

            button {
                display: block;
            }
        }

        img {
            max-width: 600px;
        }

        div h1 {
            font-size: 3rem;
        }

        div h2 {
            font-size: 2.3rem;

            span {
                font-size: 2.3rem;
            }
        }

        .sectionContent,
        .nextLevelContent {
            padding: 0 2rem;
        }
    }
}


@media (max-width: 950px) {
    .container {
        .containerHeader {
            flex-direction: column;

            button {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        div img {
            max-width: 500px;
        }

        div h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 1rem;
        }

        .sectionContent {
            flex-direction: column;

            img {
                margin-top: 2rem;
                max-width: 400px;
            }

        }
    }
}

@media (max-width: 350px) {
    .container {
        .containerHeader {
            align-items: center;
            flex-direction: column;

        }

        div img {
            max-width: 500px;
        }

        div h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 1rem;
        }

        .sectionContent {
            flex-direction: column;

            img {
                max-width: 100px;
                max-height: 50px;
                width: auto;
                height: auto;
            }

        }
    }
}