.container{
    overflow-x: auto;
    display: block;
    color:#ece7e7;
}

.container1 {
  overflow-x: auto;
  color: #ece7e7;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}


.quadrado{
    display: flex;
    margin-left: 150px;
}


hr {
  margin: 40px 0;
}

.hr1 {
  border: 0;
  border-top: 1px solid #CCC;
}

.hr2 {
  border: 0;
  border-top: 1px dashed #CCC;
}

.hr3 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);  
}

.hr4 {
  border: 0;
  border-top: 1px dashed #CCC;
  border-bottom: 2px solid #CCC;
  height: 3px;
}

.hr5 {
  border: 0;
  border-top: medium double #CCC;
  height: 1px;
  overflow: visible;
  padding: 0;
  color: #CCC;
  text-align: center;
}

.hr5::after {
  content: "¶";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background: white;
}

.container2{
    width: 600px;
    height: 420px;
    border: 1px solid black;
    margin: 10px;
    background-color:  lightgray;

    p{
       margin: 1rem;
    }
}

.container3{
    align-items: center;
}

.container4{
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.bb{
    justify-content: center;
    align-items: center;
}

.certificacao{
    justify-content: center;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px 8px;
    padding: 20px 10px;
}

.containerRedes{
    max-width: '350px';
    max-height: '350px';
    flex-direction: column;
    margin-left: 2rem;
}

.containerHeader{
    min-height: calc(100vh - 20rem);
    margin: 0 auto;
    max-width: 1120px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    

    img{
        max-width: 490px;
    }
}

.cardContainer1 {
    display: flex;
    justify-content: center;
    margin-bottom: -2rem;
    margin-top: 1rem;
    border-radius: 50px;
  }
  .cardContainer2 {
    display: flex;
    justify-content: start;
    margin-bottom: -5rem;
    margin-left: 2rem;
  }
  .cardContainer3 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-bottom: -5rem;
    margin-right: 2rem;
  }
  .cardContainer31 {
    display: flex;
    justify-content: flex-end;
  }
  .cardContent {
    display: flex;
    align-items: center;
  }
  .cardContent2 {
    display: flex;
    align-items: center;
  }

  .cardtext1 {
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
  }
  .cardtext2 {
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
  }

.ctaText{
    max-width: 600px;
    text-align: center;

    h1{
        font-size: 3rem;
        font-weight: 900;
        margin: 2.5rem 0;
        color: var(--branco);
        text-align: center;
    }

    h2{
        font-size: 2rem;
        color: var(--branco);
        text-align: center;
    }

    p{
        font-size: 1rem;
        line-height: 2.25rem;
        color: var(--branco);
        white-space: pre-wrap;
        align-items: center;
    }

    a svg{
        margin-top: 15px;

    }
    svg{
        color: var(--branco);
        cursor: pointer;
        margin-left: 15px;
    }

    svg:hover{
        color: var(--azul-900);
    }

    li{
        color: var(--azul-900);
    }
}

.sectionItens{
    align-items: center;
    margin: 10px;
}

@media (max-width: 1110px){
    .containerHeader{
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 1rem;

        img{
            max-width: 390px;
            padding: 1.5rem 0;
        }
    }

    .ctaText{
        h1{
            font-size: 2.5rem;
        }
    }

}
/*****************************************/
  //ANCHOR - roda pé
.footer{
    background-color: var(--cinza-900);
    background: var(--cinza-900);
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

.footertext{
    color: var(--branco);
}
/*****************************************/



/*****************************************/
  //ANCHOR - Botão
.botaoconcluidos {
    background-color: #4CAF50; /* cor de fundo */
    border: none; /* sem borda */
    color: white; /* cor do texto */
    padding: 12px 24px; /* preenchimento interno */
    text-align: center; /* centralizar texto */
    text-decoration: none; /* sem decoração */
    display: inline-block; /* exibição em linha */
    font-size: 16px; /* tamanho da fonte */
    margin: 4px 2px; /* margem externa */
    cursor: pointer; /* cursor de mão ao passar */
    border-radius: 8px; /* bordas arredondadas */
    transition-duration: 0.4s; /* duração da transição */
  }
  
  .botaoconcluidos:hover {
    background-color: #3e8e41; /* cor de fundo ao passar */
    color: white; /* cor do texto ao passar */
  }

  .botaoativos {
    background-color: #4388f0; /* cor de fundo */
    border: none; /* sem borda */
    color: white; /* cor do texto */
    padding: 12px 24px; /* preenchimento interno */
    text-align: center; /* centralizar texto */
    text-decoration: none; /* sem decoração */
    display: inline-block; /* exibição em linha */
    font-size: 16px; /* tamanho da fonte */
    margin: 4px 2px; /* margem externa */
    cursor: pointer; /* cursor de mão ao passar */
    border-radius: 8px; /* bordas arredondadas */
    transition-duration: 0.4s; /* duração da transição */
  }
  
  .botaoativos:hover {
    background-color: #4351f0; /* cor de fundo ao passar */
    color: white; /* cor do texto ao passar */
  }
/******************************************/


/****************************************/
  //ANCHOR - Produtos Lista, Card e Img
.productlist{
    display: block;
    max-width: 100%;
    overflow-x: hidden;
}

.productcard{
    margin-left: 1rem;
    margin-top: 1rem;
}

.productimg{
    position: static;
}

@font-face {
    font-family: 'Invisible-ExtraBold';
    src: url('../src/img/Invisible-ExtraBold.otf') format('truetype');
  }